.main-container {
  display: grid;
  grid-template-areas:
    "main main main main main"
    "main main main main main"
    "main main main main main";
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  max-height: 100vh;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* **************************************************************************************************** */
