.main-container {
  display: grid;
  grid-template-areas:
    "main main main"
    "main main main"
    "main main main";
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* **************************************************************************************************** */

/* MEDIA QUERIES START */

@media only screen and (max-width: 680px) {
  .categories {
    flex-wrap: wrap;
  }
}

/* MEDIA QUERIES END */

/* **************************************************************************************************** */
