/* COMPONENT STYLES */
@import url("https://eloquent-starship-324acb.netlify.app/assets/css/components.css");

/* **************************************************************************************************** */

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  background-color: var(--light-mode);
  color: var(--dark-mode);
}

.dark-theme {
  --light-mode: #05103a;
  --dark-mode: #f8f9fa;
}

.hr-thin {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  width: 100%;
}

.styled-link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.styled-link:hover {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 80%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

i {
  padding: 0.5rem;
}

/* **************************************************************************************************** */

/* PROJECT SPECIFIC COMMON STYLES START */

.btn {
  cursor: pointer;
}

/* **************************************************************************************************** */

/* HOME AND CATEGORIES PAGE */

.card-category {
  border: 5px solid var(--light-color);
  border-radius: 10px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 0 2.5rem;
}

.categories > * {
  flex-basis: 25rem;
}

.badge-center-top {
  top: 10% !important;
}

/* **************************************************************************************************** */

/* QUIZ PAGE */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.rules-container {
  max-width: 75%;
  margin: 0 auto;
}

.rules-list {
  line-height: 2.5rem;
}

.quiz-card {
  box-shadow: 0 0 10px #ccc;
  border-radius: 1rem;
  padding: 1rem;
  width: 60%;
}

.quiz-options {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-option {
  width: 30rem;
  cursor: pointer;
}

.btn-option:hover {
  background-color: var(--success-color);
}

.btn-option:disabled {
  opacity: 0.75;
  pointer-events: none;
}

@media only screen and (max-width: 1080px) {
  .quiz-card {
    width: 80%;
  }
}

/* **************************************************************************************************** */

/* RESULT PAGE */

.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5rem;
}

.styled-table thead tr {
  background-color: var(--success-color);
}

.styled-table th,
.styled-table td {
  padding: 1rem;
  text-align: center;
}

.quiz-stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 2.5rem;
}

/* **************************************************************************************************** */

/* LOGIN AND SIGNUP PAGES */

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 2rem;
  width: 30rem;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  .form {
    width: 100%;
  }
}

/* **************************************************************************************************** */

/* 404 PAGE */

.error-image {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .error-image {
    max-width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .error-image {
    max-width: 40%;
  }
}

/* **************************************************************************************************** */
